.grillaHome {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  padding: none;
  grid-column-gap: 5px;
  grid-row-gap: 5px; }

.grilla {
  height: auto;
  grid-template-columns: 2fr;
  grid-template-rows: 2fr 2fr 2fr;
  display: grid;
  padding: none;
  grid-column-gap: 5px;
  grid-row-gap: 5px; }

/* <!-- flexbox -->  */
.secNosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  border-style: solid;
  border-color: #9DC7C8; }

.secGaleria {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #748386; }

.secGaleria img {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 25px;
  padding: 25px; }

.bodyStyle {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  padding: 0px;
  background-color: #706563;
  text-align: center; }

.encabezado, .encNosotros, .encContactanos, .encGaleria {
  text-align: center;
  background-image: url(../agencia/agencia2.png);
  background-repeat: no-repeat;
  background-size: 100%; }

.encabezado__nav ul, .encNosotros__nav ul, .encContactanos__nav ul, .encGaleria__nav ul {
  list-style: none;
  font-size: 0;
  background-color: #748386;
  width: 100%;
  padding: 0px; }

.encabezado__nav li, .encNosotros__nav li, .encContactanos__nav li, .encGaleria__nav li {
  display: inline-block;
  font-size: 20px;
  position: relative;
  text-align: center;
  width: 24%;
  border-width: thick; }

.encabezado__nav ul ul, .encNosotros__nav ul ul, .encContactanos__nav ul ul, .encGaleria__nav ul ul {
  position: absolute;
  display: none; }

.encabezado__nav ul ul li, .encNosotros__nav ul ul li, .encContactanos__nav ul ul li, .encGaleria__nav ul ul li {
  display: block; }

.encabezado__nav ul li:hover ul, .encNosotros__nav ul li:hover ul, .encContactanos__nav ul li:hover ul, .encGaleria__nav ul li:hover ul {
  display: block;
  color: #748386;
  width: 100%;
  text-align: center;
  padding: 0px; }

.encabezado__nav a, .encNosotros__nav a, .encContactanos__nav a, .encGaleria__nav a {
  text-decoration: none;
  color: #3B0D11;
  text-shadow: 1px 1px 2px black; }

.encabezado__titulo {
  color: white;
  text-shadow: 1px 1px 2px black; }

.section {
  background-color: lightslategrey;
  text-align: center;
  transition: all 0.5s ease;
  background: lightslategrey; }

.section:hover {
  background: #9DC7C8; }

.section__titulo {
  font-size: 200%;
  color: #706563;
  text-shadow: 1px 1px 2px black; }

.section__em {
  font-weight: bold;
  text-transform: capitalize; }

.division {
  text-align: center;
  transition: all 0.5s ease;
  background: #9DC7C8; }

.division:hover {
  background: white; }

.division__titulo {
  text-transform: capitalize;
  margin: 30px;
  padding: 30px; }

.articulo {
  margin: 30px;
  padding: 30px;
  border-style: solid;
  border-color: #9DC7C8;
  text-align: center;
  background-color: lightslategrey; }

.articulo__parrafo {
  text-decoration: underline; }

.articulo__span {
  font-weight: bold; }

.piePagina, .pieNostros, .pieContactanos, .pieGaleria {
  width: 100%; }

.secStock {
  background-color: lightslategrey;
  table-layout: auto;
  border-style: solid;
  width: 100%; }

.secStock__titulo {
  font-weight: bold; }

.secStock__tabla {
  table-layout: fixed;
  width: 100%;
  text-decoration-color: white; }

.divStock {
  color: white; }

.divStock__lista {
  list-style-type: upper-roman;
  list-style-position: inside; }

#logoOsvaldo:hover {
  transform: scale(1.1, 1.5); }

#tituloHeader:hover {
  transform: scale(1.3);
  transition: all 0.5s ease; }

#formTransform:hover {
  transform: scale(1.3);
  transition: all 0.5s ease; }

@media only screen and (max-width: 425px) {
  .encabezado__nav li, .encNosotros__nav li, .encContactanos__nav li, .encGaleria__nav li {
    display: block;
    margin-top: 1em;
    margin-bottom: 1rem;
    width: 100%;
    line-height: 2rem;
    justify-content: center; }
  .encNosotros__nav li {
    display: block;
    margin-top: 1em;
    margin-bottom: 1rem;
    line-height: 2rem;
    column-gap: 1px; }
  .grilla {
    display: block; }
  table {
    width: 100%; }
  .secNosotros {
    height: 75%;
    width: 85%;
    align-items: flex-start;
    justify-content: center;
    margin: 0px; }
  .secNosotros img {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0px; }
  .displayEnBLoque {
    display: flex;
    flex-direction: column;
    margin: none;
    padding: none; }
  .secGaleria {
    justify-content: center; }
    .secGaleria img {
      height: 75%;
      width: 75%;
      align-items: flex-start; } }

@media only screen and (max-width: 768px) {
  .grillaHome {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin: none;
    padding: none; } }
