// ------------ ESTILOS BODY ------------------ //
.bodyStyle {
    font-family:'Open Sans', sans-serif; 
    font-style: italic;
    padding: 0px;
    background-color:#706563;
    text-align: center;
}
